---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hckr's GitHub page</title>
    <style>.typed-cursor{opacity:1;animation:blink .7s infinite}@keyframes blink{0%,100%{opacity:1}50%{opacity:0}}.outer{font:24px monospace}</style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
</head>
<body>
    <h1><span class="outer"><span class="message"><span>hckr.pl</span> <span>kinda draft version</span> <span>hckr.pl</span></span></span></h1>
    <script>
        var texts = $('.message span').map(function() { return $(this).text().trim(); }).get();
        $('.message').typed({
            strings: texts,
            backDelay: 1000,
            cursorChar: '_',
            typeSpeed: 0
        });
    </script>
    <br>
    You might want to check out <a href="https://github.com/hckr">my GitHub profile</a> or jump directly to some of my repos:
    <ul>
    {% for repository in site.github.public_repositories %}
        <li>
            <a href="{{ repository.html_url }}">{{ repository.name }}</a>
            <!-- {% if repository.homepage %}(<a href="{{ repository.homepage }}">live demo</a>){% endif %} -->
        </li>
    {% endfor %}
    </ul>
</body>
</html>
